@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'YoungSerif';
    src: url('/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter-VariableFont_slnt,wght.ttf');
}
@font-face{
    font-family: 'Figtree';
    src: url('/fonts/figtree/Figtree-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Work';
    src: url('/fonts/worksans/font.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/manrope/font.ttf');
}
@font-face {
    font-family: 'Fraunces';
    src: url('/fonts/fraunces/font.ttf');
}

@font-face{
    font-family: 'HankenGrotesk';
    src: url("/fonts/variable/hankenGrotesk.ttf");
}

@font-face{
    font-family: 'Montserrat';
    src: url("/fonts/variable/montserrat.ttf");
}